* {
  box-sizing: border-box;
}

html {
  font-size: 100px;
  text-align: center;
}

.TTT-grid {
  display: table;
  border-top: 5px;
  border-bottom: 5px;
  border-top-color: red;
  border-bottom-color: red;
  height: 450px;
  width: 450px;
  margin: 0 auto;
  margin-top: 100px;
}

.row {
  display: table-row;
  border-top: 10px;
  border-bottom: 10px;
  border-top-color: red;
  border-bottom-color: red;
}

.spot {
  height: 150px;
  width: 150px;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
  border-left: 15px solid red;
  border-right: 15px solid red;
  display: table-cell;
}

span {
  display: none;
  margin-top: 20%;
}
